<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
    {% if icon_shiny %}
        <link rel="icon" href="{{ icon_shiny }}">
    {% else %}
        <link rel="icon" href="{{ icon }}">
    {% endif %}
</head>

<body>
    <form method="get">
        <h1>#Numero o Nombre del poquemon a buscar:</h1> 
        <input type="search" name="busqueda" placeholder="Nombre o #">
        <button type="submit">Buscar</button>
        {% if sprites %}
            <div>
                <div><h2>{{ name }}</h2></div>
                <img src="{{ sprites }}" alt='MDN'>
                <div><h2>Habilidad: {{ abilitie_name }}</h2></div>
                {% for t in pokemon_type %}
                    
                    
                    <div><h2>Tipo: {{ t }}</h2></div>

                    
                {% endfor %}
                
            </div>
            <div>
                <tr>
                    <td><img src="{{ front_default }}" alt='MDN'></td>
                    <td><img src="{{ front_shiny }}" alt='MDN'></td>
                </tr>
            </div>
        {% endif %}
    </form>
</body>

</html>